on:
    workflow_call:
      inputs:
        is-prerelease:
            description: 'Is this a pre-release?'
            required: true
            type: boolean
            default: true
      outputs:
        version:
            description: 'The new version number'
            value: ${{ jobs.release.outputs.version }}
        html-url:
            description: 'The URL of the release'
            value: ${{ jobs.release.outputs.html-url }}

jobs:
    release:
      runs-on: ubuntu-latest
      # Map the job outputs to step outputs
      outputs:
        version: ${{ steps.tag_version.outputs.new_tag }}
        html-url: ${{ steps.create_release.outputs.html_url }}
      steps:
        - name: Checkout code
          uses: actions/checkout@v2
          with:
            # ref: ${{ github.sha }}
            fetch-depth: '0'  #  Required due to the way Git works, without it this action won't be able to find any or the correct tags
  
        - name: 'Get Previous tag'
          id: previoustag
          uses: "Falcons-Creative-Group/github-action-get-previous-tag@v1"
  
        - name: Print out previous tag
          run: echo ${{ steps.previoustag.outputs.tag }}

        - name: Bump version 
          id: increment_version
          uses: Falcons-Creative-Group/sgtk-version-increment-action@v2
          with:
            tag: ${{ steps.previoustag.outputs.tag }} 
            base-version: ${{ vars.BASE_VERSION }}
          
        - name: Print out new version
          run: echo ${{ steps.increment_version.outputs.version }}
        
        - name: Push tag
          id: tag_version
          uses: Falcons-Creative-Group/github-tag-action@v6.1
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            custom_tag: ${{ steps.increment_version.outputs.version }}
            tag_prefix: ''  # Ignore 'v' prefix because custom_tag has 'v' prefix alreeady
  
        - name: Create GitHub Release
          id: create_release
          uses: actions/create-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            tag_name: ${{ steps.tag_version.outputs.new_tag }}
            release_name: Release ${{ steps.tag_version.outputs.new_tag }}
            body: ${{ steps.tag_version.outputs.changelog }}
            draft: false
            prerelease: ${{ inputs.is-prerelease }}