

on:
    workflow_call:
      inputs:
        release-version:
            description: 'Release version'
            required: true
            type: string
            default: 'v0.0.1'
        file-name:
            description: 'The name of the file to download from the release.'
            required: false
            type: string
            default: ''
        bundle-type:
            description: 'Type of Toolkit Bundle, either app, framework, or engine'
            required: true
            type: string
            default: 'app'
        bundle-description:
            description: 'Description of Toolkit Bundle'
            required: true
            type: string
            default: 'Toolkit Bundle'

jobs:
  deploy:
    name: Deploy Toolkit Bundle to ShotGrid
    runs-on: ubuntu-latest

    steps:
      - name: Variable Fixtures
        id: variable_fixtures
        run: |
          repository=${{ github.repository }}
          repo_name=${repository#*/}
          zip_file_name="$repo_name-${{ inputs.release-version }}.zip"
          if [ -n "${{ inputs.file-name }}" ]; then
            zip_file_name="${{ inputs.file-name }}"
          fi
          zip_file_path="${{ github.workspace }}/$zip_file_name"
          echo "Repository Name: $repo_name"
          echo "Zip File Name: $zip_file_name"
          echo "Zip File Path: $zip_file_path"
          echo "zip_file_name=$zip_file_name" >> $GITHUB_OUTPUT
          echo "zip_file_path=$zip_file_path" >> $GITHUB_OUTPUT
      
      - name: Print out the inputs file name
        run: echo ${{ inputs.file-name }}
     
      - name: Download a release
        uses: robinraju/release-downloader@v1.8
        with:
          tag: ${{ inputs.release-version }}
          fileName: ${{ inputs.file-name }}
          zipBall: true
          
      - name: List files
        run: |
          ls -la
        working-directory: ${{ github.workspace }}

      - name: Checkout ci-cd-workflows repo to ci-cd-workflows folder
        uses: actions/checkout@v3
        with:
          repository: 'Falcons-Creative-Group/ci-cd-workflows'
          path: ci-cd-workflows

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9  # Adjust the version to match your requirements

      - name: Install ShotGrid Python API
        run: |
          python -m pip install --upgrade pip
          pip install git+https://github.com/shotgunsoftware/python-api.git

      - name: Create Toolkit Bundle and upload zip file
        run: python toolkit_bundle_uploader.py
        working-directory: ${{ github.workspace }}/ci-cd-workflows
        env:
          SG_BASE_URL: ${{ vars.SG_BASE_URL }}
          SG_SCRIPT_NAME: ${{ vars.SG_SCRIPT_NAME }}
          SG_SCRIPT_KEY: ${{ secrets.sg-api-key }}
          BUNDLE_NAME: ${{ github.event.repository.name }}
          BUNDLE_DESCRIPTION: ${{ inputs.bundle-description }}
          BUNDLE_TAG_NAME: ${{ inputs.bundle-type }}
          ZIP_FILE_PATH: ${{ steps.variable_fixtures.outputs.zip_file_path }}